.contactsListItem {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1rem;
  &:hover {
    background-color: rgb(243, 239, 239);
    cursor: pointer;
  }
}

.nameAndLastMessage {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}

.messageAndTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.avatarWrapper {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}