.contactsListItem {
  box-sizing: border-box ;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1rem;
  &:hover {
    background-color: rgb(243, 239, 239);
    cursor: pointer;
  }
}

.contactNameAndStatus {
  overflow: hidden;
  white-space: nowrap;
}

.avatarWrapper {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}